<div class="row">
  <div class="col-xs-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-responsive" style="height:300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="toShoppingList()" style="cursor: pointer">To shopping list</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRecipe()">Edit recipe</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRecipe()">Delete recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
    </ul>
  </div>
</div>
